<header class="home-header">
  <a routerLink="/" class="home-header-home-link">
    <img src="" />
  </a>
  <div>
    <a routerLink="/login" class="home-header-login">Login</a>
    <a routerLink="/register" class="home-header-register">Register</a>
  </div>
</header>

<div class="home-hero">
  <div class="home-container">
    <div>
      <h1 class="home-title">
      <!--projetoads-->
      </h1>
      <p class="home-description">
        <!--projetoads-->
      </p>
    </div>
    <div>
      <img src="" />
    </div>
  </div>
</div>

<div class="home-team">
  <div class="home-container team-container">
    <div>
      <h1 class="home-title">PRÁTICA PROFISSIONAL EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h1>
      <p class="home-description">
        <li>Trabalho de conclusão de curso - ADS 2023</li>

           Integrantes: <br>
                        Clarissa de Mattos Silva,<br>
                        Gabriel Almeida do Carmo,<br>
                        Felipe Dantas da Silva Araujo,<br>
                        Julio Cesar Siqueira Nobre,<br>
                        Raquel Keiko Alves. <br>
      </p>
    </div>
    <div>
      <img src="" class="team-image" />
    </div>
  </div>
</div>

<div class="home-information">
  <div class="home-container information-container">
    <div>
      <img src="" />
    </div>
    <div>
      <h1 class="home-title"><!--projetoads--></h1>
      <p class="home-description">
       <!--projetoads-->
      </p>
    </div>
  </div>
</div>

<div class="home-workflow">
  <div class="home-container workflow-container">
    <div class="workflow-left-part">
      <h1 class="home-title"><!--projetoads--></h1>
      <p class="home-description">
        <!--projetoads-->
      </p>
      <ul>
        <li><!--projetoads--></li>
        <li><!--projetoads--></li>
        <li><!--projetoads--></li>
        <li><!--projetoads--></li>
      </ul>
    </div>

    <div>
      <img src="" class="workflow-image" />
    </div>
  </div>
</div>
